html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* font-family: 'Fredericka the Great', cursive; */
    font-family: 'Abel', sans-serif;
    letter-spacing: 2px;
}

* {
    box-sizing: border-box;
}

h2 {
    font-weight: 900;
}


/* Introduction Page */

#image-div {
    height: 100vh;
    width: 100vw;
    background-image: url('images/image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.name-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.change-text {
    font-size: 50px;
    font-weight: bold;
    color: #5D5D5D;
    align-self: center;
}


/* Navigation */

.header {
    height: 75px;
    width: 100vw;
    /* background-color: #E47B4D; */
    /* background-color: #C3BDBC; */
    /* background-color: #F2F2F2; */
    background-color: #F7F9FC;
    opacity: 0.8;
    /* border-top: solid 0.5px #3A3A3A; */
    border-bottom: solid 1px #D6D7DC;
    /* box-shadow: 4px 2px 1px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); */
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    display: flex;
}

.sticky {
    position: fixed;
    top: 0;
    /* border-bottom: solid 0.5px #3A3A3A; */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-title {
    width: 100vw;
    display: flex;
    text-align: center;
    padding-left: 5em;
}

.hamburger-menu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5em;
}

.header-title a {
    text-decoration: none;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    /* color: #1D3557; */
    color: #3A3A3A;
}

.material-icons.md-36 {
    /* color: #1D3557; */
    color: #3A3A3A;
    font-size: 36px;
}


/* About */

#profile {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

#profile hr {
    /* border: solid 1px #1D3557; */
    /* border: solid 1px #797B86; */
    border: solid 1px #D6D7DC;
    width: 20%;
}

.about-picture {
    /* background-color: #F6FAFA; */
    display: flex;
    justify-content: center;
}

.about-content {
    padding-top: 3em;
}

.about {
    /* background-color: #F6FAFA; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h2 {
    color: #3A3A3A;
}

.about-me {
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 2em 2em 5em;
}

.about-me h2,
p {
    /* font-family: 'Fredericka the Great', cursive; */
    font-size: 20px;
    /* color: #1D3557; */
    color: #3A3A3A;
    line-height: 40px;
}

.about-me a {
    /* color: #1D3557; */
    /* color: #E47B4D; */
    /* color: #d99b9b; */
    color: #D6D7DC;
    text-decoration: none;
}

.about-me a:hover {
    /* color: #E47B4D; */
    /* color: #1D3557; */
    color: #3A3A3A;
}

.picture {
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 2em 5em 2em 2em;
}

.profile-img {
    height: 300px;
    width: 300px;
    border-radius: 2px;
    /* border: 1.5px solid #E47B4D; */
    /* border: solid o.5px #B3B3B3; */
    border-radius: 100%;
    /* box-shadow: 2px 2px 2px 2px #1D3557, -2px 0 2px #1D3557; */
    /* box-shadow: 2px 2px 2px 2px #B3B3B3, -2px 0 2px #B3B3B3; */
    box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, 0.5);
}


/* Portfolio */

#portfolio-id {
    display: flex;
    flex-direction: column;
    /* background-color: #EBECED; */
    /* background-color: #F6FAFA; */
}

.portfolio hr {
    /* border: solid 1px #1D3557; */
    /* border: solid 1px #797B86; */
    border: solid 1px #D6D7DC;
    width: 20%;
}

.portfolio-content {
    padding-top: 3em;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10em 0 10em;
    justify-content: center;
}

.project {
    display: flex;
    height: 480px;
    width: 380px;
    border-radius: 4px;
    /* background-color: #EFF0F2; */
    /* border: 2px solid #E47B4D; */
    /* border: solid 0.5px #ECECEC; */
    /* border: solid 0.5px #78A4C8; */
    /* background-color: #F2F4F5; */
    /* background-color: #FEFAF6; */
    background-color: #F7F9FC;
    padding: 0 2em 0 2em;
    margin: 2em 2em 2em 2em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.one:hover {
    animation-duration: 10s;
    animation-iteration-count: 1;
}

.two:hover {
    animation-duration: 10s;
    animation-iteration-count: 1;
}

.bt1:hover {
    animation-iteration-count: 1;
}


/* Projects */

.project-s {
    display: none;
}

.project div {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    justify-content: center;
}

.project a {
    text-decoration: none;
}

.prj-title {
    font-weight: bolder;
    font-size: 20px;
}

.prj-skills {
    font-weight: bold;
}

.ahref {
    background-image: url('images/cramIT.jpg');
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    /* border: solid 1px #5D5D5D; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background-position-x: -30px;
    border-radius: 4px;
}

.ahref2 {
    background-image: url('images/impactful.jpg');
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    /* border: solid 1px #5D5D5D; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background-position: -15px, 0.9px;
    border-radius: 4px;
}

.ahref:hover {
    box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.ahref2:hover {
    box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.repo-demo {
    display: flex;
    justify-content: space-between;
}

.repo-demo div {
    text-align: center;
}

.repoDemo-btn {
    height: 40px;
    width: 80px;
    border-radius: 4px;
    /* border: solid 1px black; */
    /* border: solid 1px #5D5D5D; */
    /* border: solid 1px #78A4C8; */
    padding-top: 10px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    /* background-color: #D6D7DC; */
    /* background-color: #95AEC4; */
    background-color: #C4D6E5;
    color: #3A3A3A;
    font-weight: bold;
}

.repoDemo-btn:hover {
    /* border: solid 1px #78A4C8; */
    /* border: solid 1px #DDE8F1;
    background-color: #EEF3F8; */
    background-color: #3A3A3A;
    /* color: #D6D7DC; */
    color: #95AEC4;
    opacity: 0.5;
}


/* NEW ADDED */

.code {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 820px;
    align-items: center;
    /* border: 2px solid #E47B4D; */
    display: none;
    /* background-color: #1D3557; */
    /* background-color: #D6D7DC; */
    background-color: #C4D6E5;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}

.code:hover {
    /* background-color: #3A3A3A; */
    background-color: #ADADAD;
}

.hide-button {
    font-weight: bold;
    color: #3A3A3A;
}

.hide-button:hover {
    /* color: #D6D7DC; */
    color: #C4D6E5;
}

.code div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.hide-code {
    margin-top: 1em;
    margin-bottom: 1em;
    /* color: #E47B4D; */
    color: #3A3A3A;
}

.video-code {
    display: flex;
    margin-top: 1em;
    height: 90%;
}

.pen-code,
.video {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}


/* Skills */

#skills-id {
    display: flex;
    flex-direction: column;
    /* background-color: #F6FAFA; */
}

.skills hr {
    /* border: solid 1px #1D3557; */
    /* border: solid 1px #797B86; */
    border: solid 1px #D6D7DC;
    width: 20%;
}

.skills-content {
    padding-top: 3em;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Icons */

div.icons.major {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20em 0 20em;
}

.icon {
    display: flex;
    margin: 2em 2em 2em 2em;
    height: 80px;
    width: 80px;
    /* border-radius: 4px;
    border: solid 1px grey; */
}

div.icons.major a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    border: none;
}

div.icons.major span {
    /* color: #1D3557; */
    color: #3A3A3A;
}

a.skills-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

[class*=" devicon-"],
[class^=devicon-] {
    font-size: 20px;
    font-family: devicon;
    color: #1D3557;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


/* Contact */

.contact-id {
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    /* background-color: #EBECED; */
    /* background-color: #F6FAFA; */
    background-color: #F7F9FC;
}

.contact hr {
    /* border: solid 1px #1D3557; */
    /* border: solid 1px #797B86; */
    border: solid 1px #D6D7DC;
    width: 20%;
}

.contact-content {
    padding-top: 3em;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Contact Buttons */

.contact-buttons {
    display: flex;
    justify-content: center;
}

.c-bt {
    display: flex;
    margin: 0 1em 0 1em;
}

.c-bt img {
    height: 60px;
    padding: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #95AEC4;
    border-radius: 100%;
}

.c-bt img:hover {
    /* background-color: #EEF3F7; */
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.4);
    opacity: 0.5;
}

.bt1:hover,
.bt2:hover,
.bt3:hover,
.bt4:hover,
.bt5:hover {
    animation-duration: 5s;
    animation-iteration-count: 1;
}


/* Copyright */

.copyright {
    display: flex;
    justify-content: center;
}

.copyright p {
    font-size: 12px;
}


/* Media Queries */

@media (max-width: 767px) {
    /* Navigation */
    .change-text {
        font-size: 35px;
        padding: 0 2em 0 2em;
    }
    .header-title {
        padding-left: 0;
    }
    .hamburger-menu {
        padding-right: 0;
    }
    .header-title a {
        font-size: 15px;
    }
    /* About */
    .about-content {
        padding-top: 1em;
    }
    .about-picture {
        flex-direction: column-reverse;
    }
    .about-me,
    .picture {
        width: 100vw;
    }
    .about-me {
        justify-content: center;
        padding: 0 2em 0 2em;
    }
    .picture {
        padding: 2em 0 0 0;
    }
    /* Portfolio */
    .projects {
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .project {
        padding: 0;
        margin: 1em 0 1em 0;
        height: 400px;
        width: 300px;
    }
    .ahref {
        height: 100px;
        width: 200px;
    }
    .ahref2 {
        height: 100px;
        width: 200px;
    }
    .prj-skills {
        text-align: center;
    }
    /* small */
    .two {
        display: none;
    }
    .code {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 300px;
        align-items: center;
        border: 2px solid #E47B4D;
        display: none;
        background-color: #1D3557;
        margin-bottom: 1em;
    }
    .code div {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .project-s {
        display: flex;
        height: 400px;
        width: 300px;
        border: 2px solid #E47B4D;
        padding: 0;
        margin: 1em 0 1em 0;
        flex-direction: column;
        justify-content: center;
        /*align-items: center;*/
        overflow: hidden;
    }
    .project-s div {
        display: flex;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        justify-content: center;
    }
    .repo-demo-s {
        display: flex;
        justify-content: space-between;
    }
    .repo-demo-s div {
        text-align: center;
    }
    /* Video Code */
    .hide-code {
        margin-top: 1em;
        margin-bottom: 0;
    }
    .video-code {
        margin: 0;
        display: flex;
        flex-direction: column;
        /*height: 100%;*/
    }
    /* Skills */
    .skills {
        margin: 0 2em 0 2em;
    }
    /* Icons */
    div.icons.major {
        margin: 0 1em 0 1em;
        flex-direction: column;
    }
    .icon {
        margin: 1em 2px 1em 2px;
    }
    /* Contact */
    /* Contact Buttons */
    .c-bt {
        margin: 0;
    }
}


/* @media (min-width: 768px) and (max-width: 1199) {
About
.about-picture {
    flex-direction: column-reverse;
}
.about-me,
.picture {
    width: 100vw;
}
.about-me {
    justify-content: center;
    padding: 0 2em 0 2em;
}
.picture {
    padding: 2em 0 0 0;
}
} */